* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	display: inline-block;
	border: 1px gray solid;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin:0px;
	font-size: 18px;
}

.nav-bar {
	font-size: 28px;
	padding-top: 80px;
	display: inline-block;
	height: 500px;
	width: 100%;
	color: white;
	background:
	linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)
    ),
		url('https://images.unsplash.com/photo-1494522855154-9297ac14b55f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=78da260f3928a32011405c465f5422f4&auto=format&fit=crop&w=1050&q=80');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
	font-size: 80px;
	font-family: 'Playfair Display', serif;
	margin: 40px;
}

main{
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 34px;
}

h2 {
	font-family: 'Playfair Display', serif;
	margin: 20px;
	font-size: 40px;
}

h3 {
	font-size: 24px
}

.pizza {
	padding: 0px;
	margin: 0px;
	/* padding-bottom: 20px; */
}

div {
	margin-bottom: 20px;
	border: 1px #eeeeee solid;
	padding: 30px;
	border-radius: 10px;
	background-color: #eeeeee
}

.nav-bar button {
	margin: 10px;
	width: 100px;
	color: white;
	background-color: white;
	border: none;
	background:
		linear-gradient(
	    rgba(0, 0, 0, 0),
	    rgba(0, 0, 0, 0)
	    );
	font-size: 18px;
	border: white 1px solid;
}

.nav-bar button:hover {
	color: gray;
	border: 2px gray solid;
}

img {
	width: 75%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.about-me {
	padding-left: 70px;
	padding-right: 70px
}


#bio, #projects {
	padding: 20px;
}

#project-1, #project-2, #project-3 {
	margin-top: 30px;
}

.project-links {
	display: inline-block;
	border: none
}

a {
  text-decoration: none;
	color: purple
}

a:hover {
	color: #37474f
}

div button {
	width: 150px;
	margin: 10px;
	font-size: 18px;
	background: white;
	border: 0;
}

div button:hover {
	color: white;
	background-color: #37474f;
}

.github, .live {
	padding: 0px;
	margin: 0px;
}

button {
	border-radius: 3px;
	padding: 10px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px)
and (max-device-width : 768px) {
/* Styles */
	#header {
		font-size: 60px;
		/*border: 1px white solid;*/
		margin: 40px 0px;
	}

	.nav-bar {
		padding: 80px 25px;
	}

	.nav-bar button {
		margin-top: 20px
	}

	.about-me {
		padding: 15px;
	}

	#bio, #projects {
		padding: 20px 0px;
	}

	main {
		padding: 25px;
	}

	img {
		width: 100%;
	}

}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and
(max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
